:root {
    /* Farben für den Fahrsicherheits-Bereich */
    /* Grundfarben */
    --color-background-F: #1E2A38;
    --color-contrast-F: #4B5D67;

    /* Textfarben */
    --color-text-primary-F: #A9D6E5;
    --color-text-secondary-F: #66A5AD;
    --color-text-tertiary-F: #1E2A38;

    /* Optional für Flächen oder Body-Text auf dunklem BG */
    --color-surface-F: #C3D0DA;

    /* Farben für den PaKu-Bereich */
    /* Grundfarben */
    --color-background-P: #402E32;
    --color-contrast-P: #6E5160;

    /* Textfarben */
    --color-text-primary-P: #F2C572;
    --color-text-secondary-P: #D47447;
    --color-text-tertiary-P: #402E32;

    /* Optional für Flächen oder Body-Text auf dunklem BG */
    --color-surface-P: #D9C7B2;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-evenly;
}

#container h1 {
    text-align: center;
    width: 100%;
}


.selection {
    padding: 1rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

#PaKu {
    background-color: var(--color-contrast-P);
    color: var(--color-text-primary-P);
}

#Fahrsicherheit {
    background-color: var(--color-contrast-F);
    color: var(--color-text-primary-F);
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
    text-align: left;
    width: fit-content;
    padding: 0.5rem;
}
#PaKu button:hover {
    background-color: var(--color-surface-P);
    color: var(--color-text-secondary-P);
}
#Fahrsicherheit button:hover {
    background-color: var(--color-surface-F);
    color: var(--color-text-secondary-F);
}