:root {
  --color-background: #402E32;
  --color-contrast: #6E5160;

  --color-text-primary: #F2C572;
  --color-text-secondary: #D47447;
  --color-text-tertiary: #402E32;

  --color-surface: #D9C7B2;
}

#popup {
    max-width: 35vh;
    max-width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-background);
}