@import url('colorsFahrsicherheit.css');

body {
    margin: 0;
    font-size: 21px;
    display: flex;
    color: var(--color-text-tertiary);
    background-color: var(--color-surface);
}

#main-content {
    flex-grow: 1;
    padding: 1rem;
    margin-left: 250px;
}

