:root {
  --color-background: #402E32;
  --color-contrast: #6E5160;

  --color-text-primary: #F2C572;
  --color-text-secondary: #D47447;
  --color-text-tertiary: #402E32;

  --color-surface: #D9C7B2;
}

body {
    margin: 0;
    font-size: 21px;
    display: flex;
    color: var(--color-text-tertiary);
    background-color: var(--color-surface);
}

#main-content {
    flex-grow: 1;
    padding: 1rem;
    margin-left: 250px;
}

